.create-project {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > .modal__header {
    border-bottom: 1px solid var(--color-neutral-border);

    & h1 {
      width: 224px;
      margin-right: auto;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 20px;
      color: var(--color-neutral-content);
    }

    & button {
      line-height: 1em;
      min-width: 100px;
    }

    .toggle-items {
      width: 500px;
      margin-right: auto;
      box-sizing: border-box;
    }
  }

  &__tab_disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
  }

  &__tab_has-error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 0;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      margin-right: 6px;
      background: var(--color-negative-content);
      z-index: 1;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-wide);
    overflow-y: auto;
    padding: var(--spacing-wider);

    & > * {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
    }

    & > *:not(.form-validation) {
      order: 2;
    }

    input, textarea {
      background: var(--color-neutral-background);
      border: 1px solid var(--color-neutral-border);
      color: var(--color-neutral-content);
      border-radius: var(--corner-radius-smaller);
      box-shadow: inset 0 1px 2px rgba(var(--color-neutral-shadow-raw) / 12%);
      transition: all 150ms ease-out;

      &:hover {
        border-color: var(--color-neutral-border-bold);
      }

      &:focus, &:focus-visible {
        border-color: var(--color-neutral-border-bolder);
        outline: none;
        box-shadow: 0 0 0 4px var(--color-primary-focus-outline);
      }

      &.input-ls_error {
        border: 1px solid var(--color-negative-border);
        color: var(--color-negative-content);

        &:focus {
          border-color: var(--color-negative-border-bold) !important;
        }
      }
    }

    .form-validation {
      order: 1;
      flex-direction: column;
      width: 100%;
      margin-top: 0;
    }
  }
}
